<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
  <meta charset="UTF-8">
  <title>상품 아이템 상세</title>
</head>
<body>
<main layout:fragment="content">
  <h1>상품 아이템 상세</h1>
  <ul>
    <li>id: <span th:text="${item.id}"></span></li>
    <li>name: <span th:text="${item.name}"></span></li>
    <li><a th:href="@{/items/{id}/modify(id=${item.id})}">수정하기</a></li>
    <li><a href="#" th:data-item-id="${item.id}" onclick="confirmDelete(this); return false;">삭제하기</a></li>
  </ul>
</main>
<th:block layout:fragment="js">
  <script th:src="@{/js/items_detail.js}"></script>
</th:block>
</body>
</html>