<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"><head>
  <meta charset="UTF-8">
  <title>상품 아이템 목록</title>
</head>
<body>
<main layout:fragment="content">
  <h1>상품 아이템 목록</h1>
  <table>
    <tr>
      <th>아이디</th>
      <th>상품명</th>
    </tr>
    <!-- 반복구간 시작 -->
    <tr th:each="item: ${items}">
      <td th:text="${item.id}"></td>
      <td><a th:href="@{/items/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
    </tr>
    <!-- 반복구간 끝 -->
  </table>
</main>
</body>
</html>