<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"><head>
  <meta charset="UTF-8">
  <title>상품 구입처 목록</title>
</head>
<body>
<main layout:fragment="content">
  <h1>상품 구입처 목록</h1>
  <div>
    총 상품 건수: <span th:text="${pageDto.totalElements}"></span>
  </div>
  <table>
    <tr>
      <th>아이디</th>
      <th>상품명</th>
    </tr>
    <!-- 반복구간 시작 List<ItemDto> -->
    <tr th:each="supply: ${pageDto.content}">
      <td th:text="${supply.id}"></td>
      <td><a th:href="@{/admin/supplies/{id}(id=${supply.id})}" th:text="${supply.name}"></a></td>
    </tr>
    <!-- 반복구간 끝 -->
  </table>
  <div>
    <a th:if="${pageDto.prev}" th:href="@{/admin/supplies(page=${pageDto.start - 1}, size=${pageDto.size})}" th:text="이전"></a>
    <!-- 페이지 번호는 몇 번 반복 -->
    <span th:each="pageNum : ${#numbers.sequence(pageDto.start, pageDto.end)}">
      <a th:href="@{/admin/supplies(page=${pageNum}, size=${pageDto.size})}" th:text="${pageNum}"></a>
    </span>
    <a th:if="${pageDto.next}" th:href="@{/admin/supplies(page=${pageDto.end + 1}, size=${pageDto.size})}" th:text="다음"></a>
  </div>
</main>
</body>
</html>