<html layout:decorate="~{layout/base}">
<head>
    <title>상품 구입처 수정</title>
</head>
<body>
<main layout:fragment="content">
    <h1>상품 구입처 수정</h1>
    <form id="supplyForm">
        <input type="hidden" id="id_id" name="id" th:value="${supply.id}">
        <label for="name_id">구입처: </label>
        <input type="text" id="name_id" name="name" th:value="${supply.name}">
        <!--/* TODO 상품추가와 동일한 유효성검사 적용 */-->
        <div>
            <span id="spaceError" class="error">공백은 사용할 수 없습니다.</span>
            <span id="specialCharError" class="error">특수문자는 사용할 수 없습니다.</span>
            <span id="startWithNumberError" class="error">숫자할 수 없습니다.</span>
        </div>
        <label for="contact1_id">연락처1: </label>
        <input type="text" id="contact1_id" name="contact1" th:value="${supply.contact1}">
        <span>01로 시작하는 전화번호를 입력하세요.</span>
        <div>
            <span id="contact1Error" class="error">연락처1을 확인해 주세요.</span>
        </div>
        <label for="contact2_id">연락처2: </label>
        <input type="text" id="contact2_id" name="contact2" th:value="${supply.contact2}">
        <span>01로 시작하는 전화번호를 입력하세요.</span>
        <div>
            <span id="contact2Error" class="error">연락처2을 확인해 주세요.</span>
        </div>
        <label for="businessNumber_id">사업자번호: </label>
        <input type="text" id="businessNumber_id" name="businessNumber" th:value="${supply.businessNumber}">
        <span>10자리 숫자로 입력하세요.</span>
        <div>
            <span id="businessNumberError" class="error">사업자번호를 확인해 주세요.</span>
        </div>
        <button type="submit">구입처 수정</button>
    </form>
</main>
<th:block layout:fragment="js">
    <script th:src="@{/js/supplies_modify.js}"></script>
</th:block>
</body>
</html>