<html layout:decorate="~{layout/base}">
<head>
    <title>회원가입</title>
</head>
<body>
<main layout:fragment="content">
    <h2>회원가입</h2>

    <form th:action="@{/admin/auth/signup}" method="post">
        <div>
            <label for="username">사용자명:</label>
            <input type="text" name="username" required id="username"/>
        </div>
        <div>
            <label for="password">비밀번호:</label>
            <input type="password" name="password" required id="password"/>
        </div>
        <button class="btn" type="submit">가입하기</button>
    </form>

    <a class="btn" th:href="@{/admin/auth/login}">로그인</a>
</main>
</body>
</html>