<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.cofile.fruitshop.backend.admin.mapper.ItemMapper">

    <insert id="insertItem" parameterType="AdminItem"
        useGeneratedKeys="true" keyProperty="id">
        INSERT INTO items (name) VALUES (#{name});
    </insert>

    <select id="selectItemById" resultType="AdminItem">
        SELECT id, name FROM items WHERE id = #{id};
    </select>

    <select id="selectItems" resultType="AdminItem">
        SELECT id, name AS item FROM items ORDER BY id DESC LIMIT 3;
    </select>

    <update id="updateItem" parameterType="AdminItem">
        UPDATE items SET name = #{item} WHERE id = #{id};
    </update>

    <delete id="deleteItem">
        DELETE FROM items WHERE id = #{id};
    </delete>

</mapper>