<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.cofile.fruitshop.backend.mapper.ItemMapper">

    <insert id="insertItem" parameterType="ItemDto"
        useGeneratedKeys="true" keyProperty="id">
        INSERT INTO items (name, user_id) VALUES (#{name}, #{userId});
    </insert>

    <select id="selectItemById" resultType="ItemDto">
        SELECT it.id, it.name, it.user_id, us.username FROM items it
            INNER join users us ON it.user_id = us.id WHERE it.id = #{id};
    </select>

    <select id="selectItems" resultType="ItemDto">
        SELECT it.id, it.name, it.user_id, us.username FROM items it
            INNER join users us ON it.user_id = us.id ORDER BY it.id DESC LIMIT #{size} OFFSET #{offset};
    </select>

    <select id="countTotal" resultType="Integer">
        SELECT count(*) FROM items;
    </select>

    <update id="updateItem" parameterType="ItemDto">
        UPDATE items SET name = #{name} WHERE id = #{id};
    </update>

    <delete id="deleteItem">
        DELETE FROM items WHERE id = #{id};
    </delete>

</mapper>